@{
	ViewBag.Title = "Itinerary Page";
}

<div class="row p-3">
	<div class="col d-flex justify-content-start">
		<a class="btn btn-warning me-4" asp-controller="Trip" asp-action="Upsert" asp-route-TripId="@ViewBag.TripId">
			Back to Trip Details
		</a>
		@if (ViewBag.TripId != 0)
		{
			<a class="btn btn-success" asp-controller="Itinerary" asp-action="Upsert" asp-route-TripId="@ViewBag.TripId">
				Add New Itinerary Event
			</a>
		}

	</div>
</div>

<div class="card rounded-4">

	<div class="card-body">
		<div class="table-responsive">
			@if (ViewBag.Itineraries != null && ViewBag.Itineraries.Count > 0)
			{
				<table id="itinerariesTable" class="table table-striped table-bordered rounded-4" style="width:100%">
					<thead>
					<tr>
						<th>
							Order
						</th>
						<th>
							Date
						</th>
						<th>
							Event Name
						</th>
						<th>
							Description
						</th>
						<th>
							Cover Image
						</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
						@foreach (var item in ViewBag.Itineraries)
						{
							<tr>
								<td>
									@item.Order
								</td>
								<td>
									@item.Date
								</td>
								<td>
									@item.Activity
								</td>
								<td>
									<textarea disabled="true">
										@item.Description
									</textarea>
								</td>
								<td>
									@if (item.ImageUrl != null)
									{
										<img src="@item.ImageUrl" style="border-radius: 5px; border: 1px solid #bbb9b9" class="align-items-center rounded" width="100"/>
									}
									else
									{
										<img src="~/images/avatars/placeholder.png" alt="Placeholder Image" style="border-radius: 5px; border: 1px solid #bbb9b9" class="align-items-center rounded" width="100"/>
									}

								</td>
								<td>
									<a asp-controller="Itinerary"
									   asp-action="Upsert"
									   asp-route-TripId="@item.TripId"
									   asp-route-ItineraryId="@item.Id"
									   type="button" class="btn btn-primary">
										Edit
									</a>
									<form asp-controller="Itinerary" id="deleteForm" asp-action="Delete" method="post" style="display: inline;">
										<input type="hidden" name="TripId" value="@item.TripId"/>
										<input type="hidden" name="ItineraryId" value="@item.Id"/>
										<button onclick="confirmDelete(event)" class="btn btn-danger">
											Delete
										</button>
									</form>

								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				@if (ViewBag.TripId == 0)
				{
					<text>Before adding an Itinerary save the trip</text>
				}
				else
				{
					<text>No Itinerary added yet</text>
				}
			}
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/site.js"></script>
	<script>
		$(document).ready(function () {
			$('#itinerariesTable').DataTable({
				paging: true,
				searching: true,
				ordering: true
			});
		});
	</script>
}
